name: Publish to Modrinth

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
        - name: Set up JDK
          uses: actions/setup-java@v4
          with:
            distribution: temurin
            java-version: 17

        - name: Build plugin
          run: ./gradlew clean build

        - name: Publish to Modrinth
          uses: cloudnode-pro/modrinth-publish@v2
          with:
            token: ${{ secrets.MODRINTH_TOKEN }}
            project: "everything"
            version: ${{ github.event.release.tag_name }}
            name: "Release ${{ github.event.release.tag_name }}"
            changelog: ${{ github.event.release.body }}
            files: "build/libs/*.jar"
            game-versions: >
              ["1.20.4","1.20.5","1.20.6",
              "1.21","1.21.1","1.21.2","1.21.3","1.21.4",
              "1.21.5","1.21.6","1.21.7","1.21.8","1.21.9","1.21.10","1.21.11"]
            loaders: >
              ["paper","spigot","bukkit","purpur"]

